
@{
    ViewBag.Title = "GetBook";
}

<form method="post">
    <p>Introdu numele cartii:</p>
    <input type="text" name="title"/>
    <p>Introdu autorul:</p>
    <input type="text" name="author"/>
    <br/>
    <input type="submit" value="Trimite"/>
</form>
